@font-face {
  font-family: "PaperCutoutStG";
  src: url("../fonts/Paper_Cutout.woff2") format("woff2"), url("../fonts/Paper_Cutout.woff") format("woff"), url("../fonts/Paper_Cutout.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  file-formats: ttf;
}

@font-face {
  font-family: "FilsonSoftStG";
  src: url("../fonts/Filson_Soft_Regular.woff2") format("woff2"), url("../fonts/Filson_Soft_Regular.woff") format("woff"), url("../fonts/Filson_Soft_Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  file-formats: ttf;
}

@font-face {
  font-family: "FilsonSoftStG";
  src: url("../fonts/Filson_Soft_Bold.woff2") format("woff2"), url("../fonts/Filson_Soft_Bold.woff") format("woff"), url("../fonts/Filson_Soft_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  file-formats: ttf;
}