fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

#{$all-text-inputs}, select {
  appearance: none;
  padding: $base-spacing / 3;
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  transition: border-color $base-duration $base-timing;
  width: 100%;
}

select {
  text-transform: capitalize;
  padding-right: $small-spacing;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzBweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgMzAgMzAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICAgICAgPHBvbHlnb24gaWQ9IlRyaWFuZ2xlLTEiIGZpbGw9IiNkOWQ4ZDgiIHBvaW50cz0iMTUgMSAyMS4zNTU4MzcxIDEyIDguNjQ0MTYyODUgMTIgIj48L3BvbHlnb24+CiAgICAgICAgPHBhdGggZD0iTTE1LDI5LjExNDg0NzggTDguNTc3ODAzMzgsMTggTDIxLjQyMjE5NjYsMTggTDE1LDI5LjExNDg0NzggTDE1LDI5LjExNDg0NzggWiIgaWQ9IlRyaWFuZ2xlLTEiIGZpbGw9IiNkOWQ4ZDgiPjwvcGF0aD4KPC9zdmc+');
	background-size: auto 1.25 * $small-spacing;
  background-position: right $small-spacing/2 top 50%;
  background-repeat: no-repeat;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
}
